http://find {
    reverse_proxy host.docker.internal:8080
}

# Example for your Llama UI (just change the port to whatever you use)
#http://chat.local {
#    reverse_proxy host.docker.internal:3000
#}